@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Flamenco:wght@300;400&family=Honk&display=swap');

body{
    font-family: Dancing Script;
    background-image: url(mystic-magic-background-religion-vector-34085434dddd.jpg);
}


#fortune{
    color: aliceblue;
}
#spread{
    font-size: large;
}
.backtoblack{
    margin-left: 45%;
    margin-top: 70%;
    text-decoration: none;
    font-size: larger;
    color: rgb(255, 255, 255);
}
.card{
    margin: auto;
}
tarot-deck{
    /* margin: auto; */
    margin-left: 120px;
    margin-right: auto;
    display: block;
    height: 100px;
    padding-top: 8px;
}
button{
    color: honeydew;
    background: transparent;
    border-radius: 10px;
    border-color: rgb(85, 85, 85);
    border-style: solid;
}
.container {
    text-align: center;
    display: table;
    padding:5px;font-size:20px;background-color:rgb(51, 51, 51);color:#ffffff; 
    border-radius: 20px;
}
p{
    text-align: center;
}
tarot-deck-card{

    background-repeat: no-repeat;
    background-image: url(https://gfx.tarot.com/images/site/tarot/celtic-cross-sample/card-back.svg);
    cursor: pointer;
    display: inline-block;
    margin-left: -7.5%;
    height: 100%;
    transform: translateZ(0);
    transition: all 125ms;
    width: 8.25%;
}
tarot-deck-card:hover{
    transform: translateY(-5%);
}
.backtoblack:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
spread-answer{
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 14px;
    margin: 0 auto;
}
spread-card{
    color: #ffffff;
    display: flex;
    font-size: 11px;
    font-weight: 200;
    height: 20px;
    justify-content: center;
    line-height: 1.5;
    margin: 0, auto;
    text-transform: uppercase;
}
spread-partial spread-card h3 {
    align-items: flex-end;
}

spread-partial spread-card h3, spread-partial spread-card p {
    display: flex;
    font-size: 11.2px;
    font-weight: 400;
    height: 28px;
    justify-content: center;
    line-height: 1.4;
    margin: 0 auto;
    opacity: .9;
    text-align: center;
    text-transform: uppercase;
}